<!-- views/404.ejs -->
<%- include('partials/header') %>

<div class="text-center mt-5">
  <h1 class="display-4">404</h1>
  <p class="lead">Page Not Found</p>
  <% if (typeof message !== 'undefined') { %>
    <p><%= message %></p>
  <% } %>
  <a href="/" class="btn btn-primary">Go to Home</a>
</div>

<%- include('partials/footer') %>
